body {
    display: block;
    margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*    COLORS
DARK RED - #902923
LIGHTER RED - #A22C29
EGGSHELL - #D6D5C9
BEIGEISH - #B9BAA3
DARK GREEN - #0A100D
*/


/*NAV BAR */

header {
  border-bottom: 1px solid Black;
  background-color: #A22C29;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1;
  align-items: center;

}

header img {
  height: 140px;
  padding-left:10px;
  display: block;
  padding-left: 800px;

}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: white;
  font-family: Avenir;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #902923;
  border-radius: 2px;
  border: 1px white solid ;
}

/*MAIN*/

#main {
  height: 1000px;
  width: 100%;
  background-image: url("../../resources/images/mainbgtristan.png");
}

.listenbutton{
  margin: auto;
  background-color: #D6D5C9;
  width:100px;
  height: 30px;
  padding: 15px 20px;
  margin-right: 400px;
  margin-top: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listenbutton a {
  font-family: Avenir;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
}
