body {
    display: block;
    margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*    COLORS
DARK RED - #902923
LIGHTER RED - #A22C29
EGGSHELL - #D6D5C9
BEIGEISH - #B9BAA3
DARK GREEN - #0A100D
*/


/*NAV BAR */

header {
  box-shadow: 1px 1px 10px black;
  background-color: rgba(162, 44, 41, 0.81);
  opacity: .81;
  height: 100px;
  width: 100%;
  z-index: 100;
  position: fixed;
  align-items: center;

}

header img {
  height: 140px;
  padding-left: 50px;
  display: block;
  z-index: 99;


}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: white;
  font-family: Avenir;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #902923;
  text-decoration: underline;
}
.flex-container{
  display: flex;
  justify-content: space-between;
}
/*MAIN*/

#main {
  height: 1000px;
  width: 100%;
  background-image: url("../../resources/images/mainbgtristan.png");
  background-size: cover;
}



/*button*/

.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color .25s ease-out,color .25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 9px 12px;
  margin: 0 0 1rem;
  background-color: #fff;
  color: #4a1125;
}
.button:hover {
	background-color:#b34332;
}
.button:active {
	position:relative;
	top:1px;
}

#main.flex-container {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
     z-index: 1;



}
